body, html {
    background-color: #191919 !important;
    font-family: sans-serif;
}

ul li {
    list-style: none;
}

p {
    color: white;
}

.youtube-logo {
    color: red;
    font-size: 25px;
}

.youtube-name {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-right: 150px;
}

.youtube-grip {
    color: white;
    font-size: 25px;
    margin-right: 20px;
}

.input {
    width: 500px;
    background-color: #363636;
    border: 1px solid #686868;
    color: white;
}

.youtube-button {
    background-color: #474747;
    margin-right: 150px;
}

.youtube-video {
    margin: 30px 50px;
}

.icons {
    font-size: 18px;
    margin-right: 10px;
}

.background-nav {
    background-color: #232323;
}

.hr {
    border: 0.5px solid gray;
}